/* ページ全体の背景色などを設定 */
main{
	background: #CDE6C7;
}
/* トップページのタイトルのデザイン */
h1{font-family: 'Anton', sans-serif;
  }
.ttl_background6 {
  font-weight: bold;
  padding: 0.5em 1em;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #b2d3e4;
  box-shadow: 0 0 0 10px #b2d3e4;
  border-top: 2px dashed #fff;
  border-bottom: 2px dashed #fff;
}

h7{
	font-size: 20px;
}
/* カードの施設名 */
h5{
	font-size: 20px;
  }

/* 住所、電話番号のデザイン */
.jusyo {
  margin: 50px 50px;
  padding: 1rem 2rem;
  border-left: 6px double #000;

}
/*  */
li{list-style: none;}

/*基本情報のデザイン  */
.kihon{font-size:30;	
}

/*基本情報と詳細のデザイン  */
.box1{
  margin: 50px 50px; 
  text-align:center;
  padding:20px 0;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
	
 
}

h6{
	font-size: 30px;
  }


	

/*イベントのデザイン  */
.box2{
 text-align:center;
  padding:20px 0;
  margin: 50px 50px;      
  background: #FFEDB3;
  box-shadow: 0px 0px 0px 5px #FFEDB3;
  border: dashed 2px white;
}

/* 施設名のデザイン */
.title {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #339966;
}

.title:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}

/* 写真のデザイン */
.gazou{
	width: 50%;
	height: 50%;
}

.boxes {
max-width:400px;
margin:20px ;
background-color:lightgray;
}

.box{
	width:100px;
	height:100px;
	float: left;
}

lead{font-size: 40px;
    }

/* ページの見出し領域の背景色，画像などを設定（id属性で設定） */
/* 画像のファイルへのパスはこのCSSファイルのあるフォルダから見て，どこにあるかの相対パスとなる */
#bg-head {
	background: #deedff url(../photos/header_back_ground.jpg) repeat-x;
}

/* class属性で設定した領域で背景を青系（#99e0ff）にする */
.bg-lightblue{
	background: #CDE6C7;
}

.border-dashed{
	border: 1pt;
	border-style: dashed;
}

.border-radius{
	border: 1pt;
  border-radius: 10px;
}

.box-shadow{
	box-shadow: 2px 2px 4px gray; /*影の幅 右 下　ぼかしの幅　影の色(カラーコードも可） */
}

/* 写真の設定 */
#thumnail_img{
    float: right;
}

/* 地図の表示領域の設定 */
#map_here{
	text-align: center;
	width: 340px;
	height: 240px;
}


