/* ページ全体の背景色などを設定 */
main{
	background: #CDE6C7;
}
/* トップページのタイトルのデザイン */
h1{font-family: 'Anton', sans-serif;
  }
.ttl_line5 {
  font-weight: bold;
  padding: 0.3em;
  margin-bottom: 0.3em;
  position: relative;
}
.ttl_line5::after {
  content: '';
  background-size: 10px 10px;
  background-color: #e1eef5;
  background-image: repeating-linear-gradient(-45deg, #4c9ac0 0, #4c9ac0 3px, #fff 0, #fff 50%);
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

/* トップページの詳細はこちらのデザイン */
h10{font-size:30;
	
}
.sabu {
  font-weight: bold;
  background-color: #4c9ac0;
  color: #fff;
  padding: 0.5em 1em calc(0.5em - 6px);
  position: relative;
}
.sabu::after {
  content: '';
  background-color: #4c9ac0;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -6px;
  left: 0;
}

/* 住所、電話番号のデザイン */
.jusyo {
  margin: 10px 50px;
  padding: 1rem 2rem;
  border-left: 6px double #000;

}
/*  */
li{list-style: none;}

/*基本情報のデザイン  */
.kihon{font-size:30;	
}

/*基本情報と詳細のデザイン  */
.box1{
  margin: 20px 50px;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
 
}

h5{
	font-size: 30px;
  }
	

/*イベントのデザイン  */
.box2{
  margin: 50px 50px;
  background: #FFEDB3;
  box-shadow: 0px 0px 0px 5px #FFEDB3;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

/* 施設名のデザイン */
.title {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #339966;
}

.title:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}




.boxes {
max-width:400px;
margin:20px ;
background-color:lightgray;
}

.box{
	width:100px;
	height:100px;
	float: left;
}

lead{font-size: 40px;
    }

/* ページの見出し領域の背景色，画像などを設定（id属性で設定） */
/* 画像のファイルへのパスはこのCSSファイルのあるフォルダから見て，どこにあるかの相対パスとなる */
#bg-head {
	background: #deedff url(../photos/header_back_ground.jpg) repeat-x;
}

/* class属性で設定した領域で背景を青系（#99e0ff）にする */
.bg-lightblue{
	background: #CDE6C7;
}

.border-dashed{
	border: 1pt;
	border-style: dashed;
}

.border-radius{
	border: 1pt;
  border-radius: 10px;
}

.box-shadow{
	box-shadow: 2px 2px 4px gray; /*影の幅 右 下　ぼかしの幅　影の色(カラーコードも可） */
}

/* 地図の表示領域の設定 */
#map_here{
	float: right;
	clear: right;
	width: 340px;
	height: 240px;
}


