/* ページ全体の背景色などを設定 */
main{
	background: #CDE6C7;
}

h1{font-family: 'Anton', sans-serif;}
/* 住所、電話番号のデザイン */
.jusyo {
  padding: 1rem 2rem;
  border-left: 6px double #000;
}
/*  */
li{list-style: none;}

/*基本情報のデザイン  */
.kihon{font-size:30;	
}

/*基本情報と詳細のデザイン  */
.jouhou {
  position: relative;
  text-align: center;
  border: 2px solid #000;
  background: #fff;	
}

.jouhou:before,
.jouhou:after {
  position: absolute;
  content: '';
}

.jouhou:before {
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

.jouhou:after {
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 2px dashed #000;
  background: #fff;
}

.jouhou i {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 60px;
  position: absolute;
  z-index: 2;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

.jouhou span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1.5rem;
}

.jouhouspan:before,
.jouhou span:after {
  position: absolute;
  content: '';
}

.jouhou span:before {
  top: -34px;
  left: calc(50% - 34px);
  width: 68px;
  height: 40px;
  border: 2px dashed #000;
  border-radius: 50vw 50vw 0 0;
}

.jouhou span:after {
  position: absolute;
  top: 4px;
  left: calc(50% - 32px);
  width: 64px;
  height: 10px;
  background: #fff;
}

/* 施設名のデザイン */
.title {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #339966;
}

.title:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}
/* 追加画像のデザイン */
.tuika
{
	margin:0 0 0 auto;
}

.boxes {
max-width:400px;
margin:20px ;
background-color:lightgray;
}

.box{
	width:100px;
	height:100px;
	float: left;
}

lead{font-size: 40px;
    }

/* ページの見出し領域の背景色，画像などを設定（id属性で設定） */
/* 画像のファイルへのパスはこのCSSファイルのあるフォルダから見て，どこにあるかの相対パスとなる */
#bg-head {
	background: #deedff url(../photos/header_back_ground.jpg) repeat-x;
}

/* class属性で設定した領域で背景を青系（#99e0ff）にする */
.bg-lightblue{
	background: #CDE6C7;
}

.border-dashed{
	border: 1pt;
	border-style: dashed;
}

.border-radius{
	border: 1pt;
  border-radius: 10px;
}

.box-shadow{
	box-shadow: 2px 2px 4px gray; /*影の幅 右 下　ぼかしの幅　影の色(カラーコードも可） */
}

/* 地図の表示領域の設定 */
#map_here{
	float: right;
	clear: right;
	width: 340px;
	height: 240px;
}


